*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Istok Web', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    /* Variables */
    --bg-color1: whitesmoke;
    --bg-color2: rgba(179, 179, 179, 0.95);
    --border-color: #000000;
    --text-color: #000000;
    --text-color2: #f0f0f0f0;

}

html, 
body {
    min-height: 100dvh !important;
    color: var(--text-color);
}

body {
    max-width: 500px;
    margin: 0 auto;;
}

header {
    background: var(--bg-color1);
}

main {
    height: 750px;
    position: relative;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1em 0;
}

ul img {
    width: 35px;
}

ul li:nth-of-type(2) img{
    width: 75px;
}

.user-profiles-container {
    width: 100%;
    height: 705px;
    background: var(--bg-color1);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1em 0 0;
    position: relative;
}

.dog-profile-wrapper {
    background: gray;
    width: 95%;
    height: 100%;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr 1fr;
}

.profile-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    grid-row: 1 / 6;
    grid-column: 1 / 3;
}

.name-age {
    font-size: 2em;
    color: white;
    grid-row: 1 / 6;
    grid-column: 1 /  2;  
    justify-self: flex-start;
    align-self: flex-end;
    padding: 1.5em 0.5em 1.4em;
}

.caption {
    color: rgb(188, 188, 188);
    grid-row: 5/ 6;
    grid-column: 1 / 3;
    justify-self: flex-start;
    align-self: flex-end;
    padding: 0em 1.3em 1em;
}

/* Badges */ 

.badge-container {
    position: absolute;
    inset: 0;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.badge-like {
    transform: translate(-250px,100px) rotate(-45deg);
    opacity: 0;
    transition: all 1000ms;
}

.badge-dislike {
    transform: translate(-250px,-20px) rotate(-45deg);
    opacity: 0;
    transition: all 1000ms;
}

.badge-like, 
.badge-dislike {
    width: 200px;
    height: 110px;
}

.badge-like.active {
    transform: translate(50px, 100px) rotate(-45deg);
    opacity: 1;
}
.badge-dislike.active {
    transform: translate(50px, -20px) rotate(-45deg);
    opacity: 1;
}

/* Buttons */

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color1);
    padding-block-start: 0.7em;
    padding-block-end: 0.7em;
}

button {
    width: 90px;
    height: 90px;
    margin: 1em 0.5em;
    border-radius: 50px;
    box-shadow: 0 0 30px -10px gray;
    border: none;
    cursor: pointer;
}

.like-btn img {
    transform: translateY(3px);
}

.like-btn:hover {
    box-shadow: 0 0 30px -10px green;
    transition: all 1s;
}

.decline-btn:hover {
    box-shadow: 0 0 30px -10px red;
    transition: all 1s;
}





